@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

		body {
			background-color: #03A9F4;
			font-family: 'Roboto';
	 	}

		main.auth > .row {
			position: relative;
			background-color: #fff;
			border-radius: 5px;
			box-shadow: 0 30px 100px rgba(0,0,0,0.4);
		}

		main.auth div[class*="col-"]{
			padding: 0;
		}

		.auth-splash img {
			width: 100%;
		}

		.logo {
			position: absolute;
			top: 50px;
			left: -10px;
			z-index: 10;
		}

		input {
			border-color: #E9E9E9 !important;
			font-size: 14px !important;
			line-height: 2 !important;
			text-indent: 7px;
		}

		input:placeholder-shown,
		input::-webkit-input-placeholder {
			color: #949494 !important;
			text-indent: 7px;
		}

		input[type="password"] {
			font: small-caption;
			letter-spacing: 3px;
			font-weight: bold;
		}
		
		/*--- Experimental pseudoclass. 
		IE/Edge family not supported on both desktop and mobile devices,
		Opera on mobiles ---*/
		input[type="password"]:placeholder-shown {
			letter-spacing: 0;
			font-weight: normal;
		}

		h1, h2, h3, h4, h5 {
			font-weight: 500;
		}

		.auth-form {
			display: flex;
			align-items: center;
		}

		.form-group {
			margin: .6em 0;
		}
		
		/*--- Status field ---*/
		.status-field {
			min-height: 20px;
			margin: 15px 0;
			color: #e21f1f;
		}

		.status-inner {
			display: none;
			font-size: 0.8em;
			font-weight: 500;
		}

		.status-inner span {
			margin-right: 3px;
		}


		/*--- CSS/JS animated checkbox ---*/
		@keyframes checkbox-hover {
			0% {color: #E9E9E9;}
			100% {color: #03A9F4;}
		}

		@keyframes checkbox-invalid-hover {
			0% {color: #f3838d;}
			100% {color: #03A9F4;}
		}

		form:not([class*="was-validated"]) #check:hover .fa-square {
			animation: checkbox-hover .2s forwards;
		}

		form[class*="was-validated"] #check:hover #checkbox:invalid ~ .fa-square {
			animation: checkbox-invalid-hover .2s forwards;
		}

		form[class*="was-validated"] #checkbox:invalid ~ .fa-square {
			color: #f3838d;
		}

		.checkbox-row {
			position: relative;
		}

		#check {
			display: flex;
			cursor: pointer;
		}

		#checkbox {
			display: none;
		}

		.fa-square {
			position: absolute;
			color: #E9E9E9;
			font-size: 1.3em;
			margin-top: -2px;
		}

		.fa-check-square {
			visibility: hidden;
			color: #03A9F4;
			font-size: 1.3em;
			position: absolute;
			margin-top: -2px;
		}

		.checkbox-label {
			font-size: .75em;
			font-weight: 500;
			color: #949494;
			padding-left: 28px;
		}

		.pass-recovery-btn {
			font-size: .75em;
			position: absolute;
			top: 0;
			right: 0;
		}
		
		/*--- Button styles ---*/
		.auth-form a {
			font-size: 12px;
			font-weight: bold;
			color: #1AB1F5;
		}
		
		.auth-form .btn {
			width: 48%;
			color: #fff !important;
			font-size: 0.9em;
			border-radius: 20px;
			background-color: #03A9F4;
			border: 2px solid #03A9F4;
			font-weight: 500;
		}

		.auth-form .btn:focus {
			box-shadow: none !important;
		}
		
		.auth-form .btn:hover {
			background-color: #068dca;
			border-color: #068dca;
		}

		.auth-form .btn:nth-child(2) {
			background-color: #fff;
			color: #03A9F4 !important;
		}

		.auth-form .btn:nth-child(2):hover {
			color: #068dca !important;
		}		

		.btn-row {
			clear: both;
			padding: 10px 0;
		}

		.form-bottom-info {
			font-size: .75em;
			font-weight: 500;
			color: #8A959A;
		}

		.terms {
			padding-left: 28px;
		}

		/*--- Bootstrap validated inputs border/shadow styles ---*/
		.form-control:focus {
			border: 1px solid #7dd7ff !important;
			box-shadow: 0 0 0.5rem #03a9f46e;
		}

		.custom-select.is-invalid:focus, 
		.form-control.is-invalid:focus, 
		.was-validated .custom-select:invalid:focus, 
		.was-validated .form-control:invalid:focus {
			border: 1px solid #ff919b !important;
			box-shadow: 0 0 0.5rem #ff000024;
		}

		.custom-select.is-valid:focus, 
		.form-control.is-valid:focus, 
		.was-validated .custom-select:valid:focus, 
		.was-validated .form-control:valid:focus {
			border: 1px solid #7fe281 !important;
			box-shadow: 0 0 0.5rem #00670424;
		}
		
		.was-validated .form-control:invalid {
			border: 1px solid #ff919b !important;
			box-shadow: 0 0 0.5rem #ff000024;
		}

		.was-validated .form-control:valid {
			border: 1px solid #7fe281 !important;
			box-shadow: 0 0 0.5rem #00670424;
		}

		.recovery-description {
			margin: 25px 0;
		}


		/*--- Mobile devices/smaller screens support ---*/
		@media only screen and (min-width: 1200px) {
			main.auth > .row {
				margin: 130px 30px;
			}

			.auth-form form {
				margin-left: 90px !important;
				padding-right: 35px;
			}

			h1, h2, h3, h4, h5 {
				margin-top: 25px;
			}
		}

		@media only screen and (min-width: 768px) {
			.auth-form form {
				margin: auto;
			}
		}

		@media only screen and (max-width: 768px) {
			body {
				background-color: #fff;
			}

			.auth-form {
				align-items: flex-start;
			}

			.auth-form form {
				margin: 0 15px 0px 15px;
			}

			main.auth > .row {
				margin: 0;
				border-radius: 0;
				/*height: 100vh;*/
				box-shadow: none;
			}

			.auth-form form {

			}

			.logo {
				top: 23px;
			}
		}
		